{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.ribbon %}
  {% assign ribbon = post.ribbon %}
{% else %}
  {% assign ribbon = 'darkgrey' %}
{% endif %}

<div class="post-blog-card" style="--ribbon: {{ ribbon }}; --image-url: url('{{ teaser | relative_url }}');">
  <div class="post-meta">
    <div class="post-ribbon"></div>
    {% if post.categories[0] %}
      <div class="post-ribbon4">{{ post.categories[0] }}</div>
    {% endif %}
  </div>
  <div class="post-description">
    <h1><a href="{{ post.url | relative_url }}">{{ title }}</a></h1>
    <h2>{{ post.description | truncate: 120 }}</h2>
    <p>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {% if post.read_time %}
        <span class="post-time">{% include read-time.html %}</span>
      {% endif %}
    </p>
  </div>
</div>
